{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<br><br>
{{datashow}}

<br><br>
<form method="Post">
  {% csrf_token %}

  <label for="subject">Subject:</label><br>
  <input type="text" id="subject" name="subject" size="50" maxlength="50" required><br>

  <label for="mailid">Email :</label><br>
  <input type="email" id="mailid" name="mailid" size="50" maxlength="50" placeholder="noreply@example.com" required><br><br>

  <button type="submit" class="btn btn-primary"> Submit </button>

</form>


{% endblock %}
